.header-wrap {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.header-wrap__logo-wrap {
    width: fit-content;
    display: flex;
}

.header-wrap__logo-wrap__logo {
    width: calc(72px/2);
    height: calc(42px/2);
    cursor: pointer;
    transition: .3s;
}

.logo-svg {
    fill: none;
    stroke: var(--mainColor);
    stroke-width: 8;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.logo-svg:hover {
    stroke: var(--mainColorDark1);
}

.header-wrap__logo-wrap__title {
    padding-left: 10px;
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
}

.header-wrap__nav {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header-wrap__nav__item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--mainColorDark1);
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

.header-wrap__nav__item:hover {
    color: var(--mainColorDark2);
    text-decoration: underline;
}

.active-nav-item {
    font-weight: 600;
    color: var(--mainColorDark2);
    pointer-events: none;
}